@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption ">

                    <h1 style="text-transform:none;font-weight:lighter;">
                        <span class="brand-font">PreBuilt</span>Connectors
                    </h1>
                    <h1>Integrating your custom data with these applications is easy</h1>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">Request a demo for your app</a>
                    </p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
    </div>


    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>We specialize in connectors for the financial services industry</h1>
                    <p>
                        We have configurations built to quickly and easily get your data into AND out of these systems.
                        If you purchase one of our pre-built connectors one of our engineers will help you implement it.
                        And we're adding support for new systems all the time - if you don't see your platform below, send us a note and ask us if it's on the roadmap. 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small><span class="brand-font">Slick</span>ETL</small>
                    <h2>Did you send me that spreadsheet?</h2>
                    <i class="fa fa-envelope-square big-icon pull-right"></i>
                    <p>
                        The system can automatically monitor an IMAP or POP3 mailbox for emails matching certain criteria. That invoice or bank statement you get every Monday at 7 AM? We'll automatically
                        load it into a database or reformat it and save it to your dropbox.
                    </p>
                </div>
                <div class="col-lg-5 features-text">
                    <small><span class="brand-font">Slick</span>ETL</small>
                    <h2>I'm out of the office today </h2>
                    <i class="fa fa-phone big-icon pull-right"></i>
                    <p>
                        You can subscribe to email or text notifications if certain jobs are late, cause errors or fail data quality checks. You can even rerun the job from your phone if you want.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small><span class="brand-font">Slick</span>ETL</small>
                    <h2>My binary data would be truncated?? </h2>
                    <i class="fa fa-fire-extinguisher big-icon pull-right"></i>
                    <p>
                        With most ETL packages, if a job fails, you may spend hours trying to decrypt the error message or figure out which row in a 50MB file actually caused the problem. In many cases,
                        we'll not only tell you exactly which row of data has issues, but which field and what the value was. You can fix the problem and rerun the job before your coffee gets cold.
                    </p>
                </div>
                <div class="col-lg-5 features-text">
                    <small><span class="brand-font">Slick</span>ETL</small>
                    <h2>Job Chaining </h2>
                    <i class="fa fa-link big-icon pull-right"></i>
                    <p>
                        For enterprise users it's possible to kick off jobs via an API. And you can easily design jobs to in turn post data to an API when they're done. You can even put a message in a
                        queue that contains data from the job. With a little creativity, it's possible to stitch together complicated workflows that are easily triggered, monitored and supported.
                    </p>
                </div>
            </div>
        </div>

    </section>


</div>

