@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="jumbotron">
        <h1>Custom Connectors</h1>
        <h3>We specialize in connectors for the financial services industry</h3>
        <p>
            Every ETL platform connects to common databases and file formats, and <span class="brand-font">Slick</span>ETL is optimized for this kind of general use.
            However we also have some pre-built configurations that make it very quick to integrate with some standard off-the-shelf tools.
            If you purchase one of our pre-built connectors one of our engineers will help you implement it.
            And we're adding support for new systems all the time - if you don't see your platform below, <a href="@Url.Action("Contact","Home")">send us a note</a> and ask us if it's on the roadmap.
        </p>
        <button class="btn btn-xl btn-primary">Request a demo</button>
    </div>
    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    <img src="~/Content/VendorLogos/advent.png" class="logo" />
                    <strong>Advent</strong> APX <small class="m-l-sm">Portfolio accounting and reporting</small>
                </h5>

            </div>
            <div class="ibox-content">
                <h2>
                    This is standard IN+ Panel<br>
                </h2>
                <p>
                    <strong>Lorem ipsum dolor</strong>
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
                <p>
                    <small>
                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
                    </small>
                </p>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    <img src="~/Content/VendorLogos/CRD.jpg" class="logo" />
                    <strong>Charles River</strong> Investment Management System
                </h5>

            </div>
            <div class="ibox-content">
                <h2>
                    This is standard IN+ Panel<br>
                </h2>
                <p>
                    <strong>Lorem ipsum dolor</strong>
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
                <p>
                    <small>
                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
                    </small>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    <img src="~/Content/VendorLogos/bbg.png" style="height:20px;" />
                    <small class="m-l-sm">AIM and back-office files</small>
                </h5>

            </div>
            <div class="ibox-content">
                <h2>
                    This is standard IN+ Panel<br>
                </h2>
                <p>
                    <strong>Lorem ipsum dolor</strong>
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
                <p>
                    <small>
                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="well">
            All product names, logos, and brands are property of their respective owners. All company, product and
            service names used in this website are for identification purposes only. Use of these names, logos, and
            brands does not imply endorsement.
        </div>
    </div>
</div>