@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" id="page-wrapper">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox-content m-b-sm border-bottom">
                <div class="text-center p-lg">
                    <h2>If you don't find the answer to your question</h2>
                    please <a href="@Url.Action("Contact","Home")">send it to us</a> and we'll be sure it get it answered.
                </div>
            </div>

            <div class="faq-item">
                <div class="row">
                    <div class="col-md-9">
                        <a data-toggle="collapse" href="#faq1" class="faq-question">Do I need to be a developer to use <span class="brand-font">Slick</span>ETL?</a>
                    </div>
                    <div class="col-md-3">
                        <div class="tag-list">
                            <span class="tag-item">General</span>
                            <span class="tag-item">Training</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq1" class="panel-collapse collapse ">
                            <div class="faq-answer">
                                <p>
                                    We've put a lot of effort into making our interface simple for everybody.If you're halfway decent with computers, and you know what you want to do with your data, and you're willing to spend a couple of hours learning the basics of the system, you'll be
                                    amazed at what it can do.
                                </p>
                                <p>
                                    That said, we do have a lot of features that will be exciting for developers. Web hooks (API calls), powershell scripts, XML support, regex filtering, and file system watching are
                                    just a few of the things that developers may use to be more productive and efficient.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="faq-item">
                <div class="row">
                    <div class="col-md-9">
                        <a data-toggle="collapse" href="#faq2" class="faq-question">There are dozens of ETL tools on the market. Why would I buy this one?</a>
                    </div>
                    <div class="col-md-3">
                        <div class="tag-list">
                            <span class="tag-item">General</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq2" class="panel-collapse collapse ">
                            <div class="faq-answer">
                                <p>
                                    Good question. We developed <span class="brand-font">Slick</span>ETL after using a lot of those other ETL tools for years. We were frustrated that simple, repetitive processes
                                    took weeks of development to get right and were difficult to debug. We found that the large majority of data integration tasks fit into a few standard workflows, and that we could build
                                    a tool that made those standard workflows very easy to consolidate and scale. With this tool, SSIS or Informatica jobs that used to take days or weeks to get right can now be done
                                    in a matter of minutes. If you try <span class="brand-font">Slick</span>ETL, we're confident that you'll quickly realize how much time and effort you can save.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {

            $('#loading-example-btn').click(function () {
                btn = $(this);
                simpleLoad(btn, true)

                // Ajax example
                //                $.ajax().always(function () {
                //                    simpleLoad($(this), false)
                //                });

                simpleLoad(btn, false)
            });
        });

        function simpleLoad(btn, state) {
            if (state) {
                btn.children().addClass('fa-spin');
                btn.contents().last().replaceWith(" Loading");
            } else {
                setTimeout(function () {
                    btn.children().removeClass('fa-spin');
                    btn.contents().last().replaceWith(" Refresh");
                }, 2000);
            }
        }
    </script>
}