@section Styles{
    <link href="~/Theme/Landing/css/style.css" rel="stylesheet" />
}

<div class="row" id="page-wrapper">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row ibox text-center">
                <div class="ibox-content">
                    <img style="height:35px;width:35px;" src="~/Content/Images/grayscale_logo.png" />
                    <h2>
                        "<span class="brand-font">Slick</span>ETL brings the power of a complete ETL platform, but is designed for real people who like
                        things to be simple and intuitive."
                    </h2>
                    <a class="btn btn-large btn-primary" style="white-space: normal;" href="@Url.Action("Index","Contact",new {req="worksmarter"})">&raquo; Start working smarter today.</a>
                </div>
            </div>
        </div>
    </div>
    <section class="features">
        <div class="container" itemprop="featureList">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>
                        Integrated workflow for designing, deploying, running and monitoring<br />
                        <span class="navy"> all from the same web-based interface</span>
                    </h1>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-3 features-text wow fadeInLeft">
                    <small>INTEGRATED</small>
                    <p> <i class="fa fa-check text-navy"></i> Web based designer means no more dealing with expensive licenses or version updates for every user</p>
                    <p><i class="fa fa-check text-navy"></i> Web based UI can run on any client operating system or device with a modern browser</p>
                    <p><i class="fa fa-check text-navy"></i> Activate jobs without having to manage custom server deployments and without additional configuration dependencies</p>
                </div>
                <div class="col-lg-6 text-center m-t-lg wow zoomIn">
                    <img src="~/Content/images/detail.png" style="max-width:100%;" alt="laptop" itemprop="screenshot" />
                </div>
                <div class="col-lg-3 features-text text-right wow fadeInRight">
                    <small>SCALE</small>
                    <p><i class="fa fa-check text-navy"></i> Our architecture allows you easily manage thousands of jobs</p>
                    <p><i class="fa fa-check text-navy"></i> Group jobs and manage concurrency at the job level OR the group level</p>
                    <p><i class="fa fa-check text-navy"></i> Custom security and separation of concerns allows multiple team members and roles to share the same system without conflict</p>
                </div>
            </div>
        </div>

    </section>

    <section id="features" class="container services">
        <div class="row" itemprop="featureList">
            <div class="col-sm-3">
                <h2>SUPPORTABILITY MATTERS</h2>
                <p>
                    The best system in the world is useless if your people don't know how to use it. Which is why we have tons of short videos showing how to perform
                    common tasks in the system. And our 'cookbook' - tips and tricks for doing some really cool advanced problem solving with the tool.
                </p>
            </div>
            <div class="col-sm-3">
                <h2>FLEXIBLE ARCHITECTURE</h2>
                <p>
                    You can run <span class="brand-font">Slick</span>ETL from the cloud, or install it on your own servers. Using our cloud service guarantees you always
                    have the latest updates. Installing on-premise gives you complete control over the hardware and network.
                </p>
            </div>
            <div class="col-sm-3">
                <h2>ANALYTICS</h2>
                <p>
                    Built in metrics allow you to easily visualize statistics for everything in the system. Easily identify which jobs/groups are frequently late, cause errors, or take
                    too long to run. Our analytics are targeted at helping you evolve towards a more stable platform over time.
                </p>
            </div>
            <div class="col-sm-3">
                <h2>ENRICH AND VERIFY DATA</h2>
                <p>
                    Easily add metadata about your job - file names, run times, row counts, audit fields. Write custom rules against any data in your job to trigger
                    failures or notifications if certain criteria are met.
                </p>
            </div>
        </div>
    </section>

    <section class="features" style="margin-bottom:100px;">
        <div class="container" itemprop="featureList">
            <div class="row  m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>
                        It's the little things that count<br />
                        <span class="navy">Notifications, triggers and transparency make this a natural extension of your current workflows</span>
                    </h1>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-3 features-text wow fadeInLeft">
                    <small>TRANSPARENT</small>
                    <p>
                        <i class="fa fa-check text-navy"></i>Easily subscribe to text or email notifications of any event in the system... job failures, data quality failures, missing files. You'll never have
                        to wonder what's going on in the system.
                    </p>
                    <p>
                        <i class="fa fa-check text-navy"></i>Row level error messages and verbose logging will never leave you guessing why something failed. Immediately find what piece of data caused an error
                        so you can get back to more important things.
                    </p>
                    <p>
                        <i class="fa fa-check text-navy"></i>Built-in change history makes it easy to see when job configurations changed, and what was altered. You won't have to cross-reference source control, package stores,
                        and deployment logs and wonder whether you're actually debugging the right version.
                    </p>
                </div>
                <div class="col-lg-6 text-center m-t-lg wow zoomIn">
                    <img style="max-height:450px;" src="~/Content/Images/textalert.png" itemprop="screenshot" />
                </div>
                <div class="col-lg-3 features-text text-right wow fadeInRight">
                    <small>OPTIMIZED FOR THE REAL WORLD</small>
                    <p>
                        <i class="fa fa-check text-navy"></i>The system knows you want to run most of your jobs after certain events: a file shows up, a scheduled time passes, another job completes. You'll be surprised how easy and
                        flexible it is to configure these job triggers.
                    </p>
                    <p>
                        <i class="fa fa-check text-navy"></i>Using a classic ETL platform to load a text file into a database is kind of like using a Boeing 747 for your daily commute. <span class="brand-font">Slick</span>ETL is
                        optimized for simplicity and speed around the most common real-world use cases.
                    </p>
                    <p>
                        <i class="fa fa-check text-navy"></i>We know you'd rather spend more time analyzing and processing your data than moving it around. Our platform can make your company more
                        profitable by giving you more time work on the things your customers need.
                    </p>
                </div>
            </div>
        </div>

    </section>

</div>
