@section Styles{
<link href="~/Theme/Landing/css/style.css" rel="stylesheet" />
}

<div class="row" id="page-wrapper">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row ibox text-center">
                <div class="ibox-content">
                    <img style="height:35px;width:35px;" src="~/Content/Images/grayscale_logo.png" />
                    <h2>
                        "<span class="brand-font">Slick</span>ETL brings the power of a complete ETL platform, but is designed for real people who like
                        things to be simple and intuitive."
                    </h2>
                    <a class="btn btn-large btn-primary" href="@Url.Action("Index","Contact",new {req="worksmarter"})">&raquo; Start working smarter today.</a>
                </div>
            </div>  
        </div>
    </div>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>
                        Integrated workflow for designing, deploying, running and monitoring<br />
                        <span class="navy"> all from the same web-based interface</span>
                    </h1>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-3 features-text wow fadeInLeft">
                    <small>ENTERPRISE</small>
                    <h2>Supportable / Scalable / Auditable </h2>
                    <p>
                        <span class="brand-font">Slick</span>ETL can handle nearly any data integration challenge you're facing. It can be used via SaaS, or installed on-premise.
                        The dataflow designer has built-in change tracking and access control. Custom data quality rules can trigger mobile alerts and notifications. Built-in job and server
                        monitoring will have your support team begging you to use this tool. And it scales beautifully: the more you put on this system, the more benefit you get out of it.
                    </p>
                    <a href="" class="btn btn-primary">See more features</a>
                </div>
                <div class="col-lg-6 text-center m-t-n-lg wow zoomIn">
                    @*<img src="~/Theme/Landing/img/iphone.jpg" class="img-responsive" alt="dashboard">*@
                    <img src="~/Theme/Landing/img/laptop.png" alt="laptop" />
                </div>
                <div class="col-lg-3 features-text text-right wow fadeInRight">
                    <small>SIMPLICITY</small>
                    <h2>Accessible / Intuitive / Automatic </h2>
                    <p>
                        The integrated designer/runner means you don't have to know 5 different languages to deploy and manage an ETL job. The system is easily piloted by people who just want
                        to move data around and not spend their days debugging opaque error messages about package encryption and server compatibility. Detailed, readable logs will tell you exactly
                        what went wrong, if anything does.
                    </p>
                    <a class="btn btn-lg btn-primary" href="@Url.Action("Index","Contact",new {req="proveit"})" role="button">Let us prove it</a>
                </div>
            </div>
        </div>

    </section>

    <section id="features" class="container services">
        <div class="row">
            <div class="col-sm-3">
                <h2>WATCH...</h2>
                <p>a folder or an FTP site for a new file that matches a naming convention. Automatically archive/rename it and import it into a database when it shows up.</p>
                <p><span class="navy"><i class="fa fa-check"></i> Setup in about 10 minutes </span></p>
            </div>
            <div class="col-sm-3">
                <h2>SCHEDULE...</h2>
                <p>the results of a query to be copied to a different database, either on-premise or in the cloud.</p>
                <p><span class="navy"><i class="fa fa-check"></i>  Idea to done as quick as 5 minutes </span></p>
            </div>
            <div class="col-sm-3">
                <h2>EXPORT...</h2>
                <p>the results of a query to a file on disk or on an FTP site, either on demand OR on a schedule.</p>
                <p><span class="navy"><i class="fa fa-check"></i>  Up and running as fast as you can write the query </span></p>
            </div>
            <div class="col-sm-3">
                <h2>RUN...</h2>
                <p>any kind of procs, scripts, web hooks or reports after the job is finished.</p>
                <p><span class="navy"><i class="fa fa-check"></i>  With just a few clicks </span></p>
            </div>
        </div>
    </section>

    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small><span class="brand-font">Slick</span>ETL</small>
                    <h2>Did you send me that spreadsheet?</h2>
                    <i class="fa fa-envelope-square big-icon pull-right"></i>
                    <p>
                        The system can automatically monitor an IMAP or POP3 mailbox for emails matching certain criteria. That invoice or bank statement you get every Monday at 7 AM? We'll automatically
                        load it into a database or reformat it and save it to your dropbox.
                    </p>
                </div>
                <div class="col-lg-5 features-text">
                    <small><span class="brand-font">Slick</span>ETL</small>
                    <h2>I'm out of the office today </h2>
                    <i class="fa fa-phone big-icon pull-right"></i>
                    <p>
                        You can subscribe to email or text notifications if certain jobs are late, cause errors or fail data quality checks. You can even rerun the job from your phone if you want.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small><span class="brand-font">Slick</span>ETL</small>
                    <h2>My binary data would be truncated?? </h2>
                    <i class="fa fa-fire-extinguisher big-icon pull-right"></i>
                    <p>
                        With most ETL packages, if a job fails, you may spend hours trying to decrypt the error message or figure out which row in a 50MB file actually caused the problem. In many cases,
                        we'll not only tell you exactly which row of data has issues, but which field and what the value was. You can fix the problem and rerun the job before your coffee gets cold.
                    </p>
                </div>
                <div class="col-lg-5 features-text">
                    <small><span class="brand-font">Slick</span>ETL</small>
                    <h2>Job Chaining </h2>
                    <i class="fa fa-link big-icon pull-right"></i>
                    <p>
                        For enterprise users it's possible to kick off jobs via an API. And you can easily design jobs to in turn post data to an API when they're done. You can even put a message in a
                        queue that contains data from the job. With a little creativity, it's possible to stitch together complicated workflows that are easily triggered, monitored and supported.
                    </p>
                </div>
            </div>
        </div>

    </section>

    <section class="features" style="margin-bottom:100px;">
        <div class="container">
            <div class="row  m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>
                        It's the little things that count<br />
                        <span class="navy">Notifications, triggers and transparency make this a natural extension of your current workflows</span>
                    </h1>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-3 features-text wow fadeInLeft">
                    <small>ENTERPRISE</small>
                    <h2>Supportable / Scalable / Auditable </h2>
                    <p>
                        <span class="brand-font">Slick</span>ETL can handle nearly any data integration challenge you're facing. It can be used via SaaS, or installed on-premise.
                        The dataflow designer has built-in change tracking and access control. Custom data quality rules can trigger mobile alerts and notifications. Built-in job and server
                        monitoring will have your support team begging you to use this tool. And it scales beautifully: the more you put on this system, the more benefit you get out of it.
                    </p>
                    <a href="" class="btn btn-primary">See more features</a>
                </div>
                <div class="col-lg-6 text-center m-t-n-lg wow zoomIn">
                    @*<img src="~/Theme/Landing/img/iphone.jpg" class="img-responsive" alt="dashboard">*@
                    <img style="max-height:450px;" src="~/Content/Images/textalert.png" />
                </div>
                <div class="col-lg-3 features-text text-right wow fadeInRight">
                    <small>SIMPLICITY</small>
                    <h2>Accessible / Intuitive / Automatic </h2>
                    <p>
                        The integrated designer/runner means you don't have to know 5 different languages to deploy and manage an ETL job. The system is easily piloted by people who just want
                        to move data around and not spend their days debugging opaque error messages about package encryption and server compatibility. Detailed, readable logs will tell you exactly
                        what went wrong, if anything does.
                    </p>
                    <a class="btn btn-lg btn-primary" href="@Url.Action("Index","Contact",new {req="proveit"})" role="button">Let us prove it</a>
                </div>
            </div>
        </div>

    </section>

</div>
