<div class="middle-box text-center">
    <h1 class="logo-name brand-font" style="font-weight:normal;letter-spacing:normal;">Thanks!</h1>
    <p>If you sent us a message, we'll respond ASAP. If you subscribed to our updates, please check your inbox for a confirmation email.</p>
    <p>If anything else comes up, feel free to <a href="mailto:support@slicketl.com">send us an email directly.</a></p>
</div>