
<div class="middle-box text-center">
    <h1 class="logo-name"><i class="fa fa-bug"></i></h1>
    <h1 class="logo-name-small brand-font" style="font-weight:normal;letter-spacing:normal;">Oh no!</h1>
    <p>Something went wrong while we were trying to process your message. Please try again for feel free to
    just <a href="mailto:support@slicketl.com">send us an email directly.</a></p>
</div>