<div class="footer">
    <div class="pull-right">
        
    </div>
    <div>
        <strong>Copyright</strong> <span class="brand-font">Slick</span>ETL LLC &copy; @DateTime.Today.Year
    </div>
</div>
